<!DOCTYPE html>
<html>
<head>
 <title>My first Vue app</title>
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
 <div id="app"> 
     {{message}}  
    <hr>
    <input v-model="nb1" type="text"> + <input v-model="nb2" type="text"> = {{Number(nb1)+Number(nb2)}}
    <hr>  
</div>
 <script>
    
    var app = new Vue({
            el: '#app',
            data: {  
                nb1:'',
                nb2:'',            
                result: '',
                message: 'additionneur'          
            },
    }); 
 </script>
 
</body>
</html>