/*  boutons 0 à 9 et ./+-*  */
.taille { 
    height : 60px;
    width :  80px; 
    margin: 1px 1px 1px 1px;
    border-radius: 7px;
    }

/* digit */
.taille1 { 
    height : 50px;
    width : 344px;
    border-radius: 7px;    
    font-size: 35px;
    background-color:white;
    
}


/* fond cacul */
.fond {
    background-color: rgb(179, 175, 175, 0.6);
    border-radius: 5px;
} 